**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd
rating=pd.read_csv('ratings.csv')
movies=pd.read_csv('movies.csv')
filtered_rating = rating[ (rating['rating']==5.0)]
filtered_rating['movieId'].value_counts().head()
best=(list(dict(filtered_rating['movieId'].value_counts().head()).keys())[0])
print(movies[ (movies['movieId']==best)][['movieId','title']])

     movieId                             title
277      318  Shawshank Redemption, The (1994)

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
data = pd.read_csv('power.csv')
filtered_data = data[ ((data['country']=='Lithuania') | (data['country']=='Latvia') | (data['country']=='Estonia'))&((data['category']==4)|(data['category']==12)|(data['category']==21))&((data['year']>2005)&(data['year']<2010))&(data['quantity']>0)]
filtered_data['quantity'].sum()

164555.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [4]:
import requests
import pandas as pd

url = 'http://www.ffiec.gov/census/report.aspx?year=2011&state=01&report=demographic&msa=11500'
html = requests.get(url).content
df_list = pd.read_html(html)
df_list[-1]

,County Code,Tract Code,Tract Income Level,Distressed or Under -served Tract,Tract Median Family Income %,2011 HUD Est. MSA/MD non-MSA/MD Median Family Income,2011 Est. Tract Median Family Income,2000 Tract Median Family Income,Tract Population,Tract Minority %,Minority Population,Owner Occupied Units,1- to 4- Family Units
0,15,1.00,Moderate,No,74.23,"$51,500","$38,228","$29,615",2279,45.77,1043,431,894
1,15,2.00,Middle,No,86.40,"$51,500","$44,496","$34,468",3084,42.44,1309,881,1543
2,15,3.00,Moderate,No,59.27,"$51,500","$30,524","$23,644",3545,78.87,2796,637,1562
3,15,4.00,Moderate,No,76.24,"$51,500","$39,264","$30,417",2777,59.42,1650,908,1335
4,15,5.00,Low,No,40.54,"$51,500","$20,878","$16,172",2372,93.55,2219,597,1306
5,15,6.00,Low,No,30.36,"$51,500","$15,635","$12,113",2439,77.74,1896,363,736
6,15,8.00,Moderate,No,72.62,"$51,500","$37,399","$28,971",1475,55.05,812,293,674
7,15,9.00,Upper,No,147.52,"$51,500","$75,973","$58,854",3705,16.22,601,1214,1606
8,15,10.00,Upper,No,142.34,"$51,500","$73,305","$56,786",5538,15.98,885,1660,2226
9,15,11.00,Upper,No,122.20,"$51,500","$62,933","$48,750",6096,16.44,1002,1667,2398
10,15,12.00,Middle,No,101.99,"$51,500","$52,525","$40,688",7545,22.29,1682,2219,3155
11,15,13.00,Moderate,No,71.07,"$51,500","$36,601","$28,355",2481,4.51,112,763,1187
12,15,14.00,Middle,No,92.76,"$51,500","$47,771","$37,005",3545,23.30,826,1166,1581
13,15,15.00,Middle,No,100.88,"$51,500","$51,953","$40,247",5471,8.59,470,1839,2311
14,15,16.00,Middle,No,92.93,"$51,500","$47,859","$37,074",3822,11.09,424,1199,1756
15,15,17.00,Upper,No,121.62,"$51,500","$62,634","$48,520",6530,19.91,1300,2091,2651
16,15,18.00,Middle,No,101.16,"$51,500","$52,097","$40,359",6653,12.63,840,2087,2894
17,15,19.00,Middle,No,97.13,"$51,500","$50,022","$38,750",19,15.79,3,5,446
18,15,20.00,Middle,No,101.02,"$51,500","$52,025","$40,302",5539,6.32,350,1815,2321
19,15,21.01,Low,No,42.57,"$51,500","$21,924","$16,985",2637,30.94,816,199,570
20,15,21.02,Upper,No,167.87,"$51,500","$86,453","$66,970",2651,13.43,356,868,1145
21,15,21.03,Middle,No,92.01,"$51,500","$47,385","$36,708",4569,25.52,1166,947,1759
22,15,22.00,Middle,No,94.29,"$51,500","$48,559","$37,618",3784,4.97,188,1286,1752
23,15,23.00,Moderate,No,75.40,"$51,500","$38,831","$30,081",4043,15.38,622,1206,1877
24,15,24.00,Middle,No,103.82,"$51,500","$53,467","$41,417",4357,4.50,196,1447,1807
25,15,25.01,Middle,No,114.30,"$51,500","$58,865","$45,600",6635,9.25,614,2132,2684
26,15,25.02,Middle,No,95.27,"$51,500","$49,064","$38,008",4395,3.89,171,1462,1844
27,15,26.00,Middle,No,100.75,"$51,500","$51,886","$40,194",4263,7.08,302,1463,1918

**Задание 4**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [6]:
import warnings
warnings.filterwarnings('ignore')
movies['average']=0
movies['rating']=''
for id in list(movies['movieId']):
    movies['average'][(movies['movieId']==id)]=rating[(rating['movieId']==id)]['rating'].mean()
    x=rating[(rating['movieId']==id)]['rating'].mean()
    if x<=2: 
        movies['rating'][(movies['movieId']==id)]='низкий рейтинг'
    elif x<=4:     
        movies['rating'][(movies['movieId']==id)]='средний рейтинг'
    elif x>=4:
        movies['rating'][(movies['movieId']==id)]='высокий рейтинг'             
movies[:100]

,movieId,title,genres,average,rating
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930,средний рейтинг
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818,средний рейтинг
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615,средний рейтинг
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143,средний рейтинг
4,5,Father of the Bride Part II (1995),Comedy,3.071429,средний рейтинг
...,...,...,...,...,...
95,107,Muppet Treasure Island (1996),Adventure|Children|Comedy|Musical,3.326923,средний рейтинг
96,108,Catwalk (1996),Documentary,4.000000,средний рейтинг
97,110,Braveheart (1995),Action|Drama|War,4.031646,высокий рейтинг
98,111,Taxi Driver (1976),Crime|Drama|Thriller,4.105769,высокий рейтинг
99,112,Rumble in the Bronx (Hont faan kui) (1995),Action|Adventure|Comedy|Crime,3.543478,средний рейтинг

**Задание 5**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

**Ответ**: к сожалению, у нас нет файла (keywords.csv), необходимого для выполнения данного задания.

**Задание 6**
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [7]:
from collections import OrderedDict
from operator import itemgetter  
years=list(range(1950, 2011))
movies['year']=1900
def production_year():
    for t in list(movies['title']):
        for year in years:
            if t.find(str(year))!=-1: 
                movies['year'][(movies['title'])==t]=year 
    return 0
production_year()


d={year:movies['average'][(movies['year'])==year].mean() for year in years}
  
print(OrderedDict(sorted(d.items(), key = itemgetter(1), reverse = True)))

OrderedDict([(1971, 3.8112428924850703), (1957, 3.7676802486013012), (1951, 3.718043884220355), (1952, 3.7001038167226574), (1969, 3.6822123217440144), (1955, 3.67286314229249), (1958, 3.668078463809014), (1961, 3.6569455697797943), (1966, 3.6332444341372914), (1968, 3.6313684198592733), (1976, 3.6276739383570775), (1970, 3.626123595230253), (1972, 3.6166720432345434), (1953, 3.586757381017263), (1964, 3.576296742904629), (1963, 3.545883344443273), (1974, 3.5228983062281536), (1973, 3.5157308444175026), (1954, 3.5110141882840096), (1950, 3.5014644746787607), (1975, 3.495031010502594), (1962, 3.463814442262719), (1981, 3.4157782675940367), (1967, 3.4151132114557727), (1959, 3.4112246280899527), (1960, 3.4059093041773765), (1965, 3.3757667864050847), (1979, 3.364606153123565), (2010, 3.3471399503775343), (2009, 3.3343037021190733), (2007, 3.330430073102147), (2004, 3.313308348476883), (1978, 3.2960540321579503), (2008, 3.283536140851949), (1980, 3.282425118722504), (1977, 3.278983259350215), (1956, 3.2780932030932033), (1982, 3.277631955132922), (2006, 3.26655195591565), (1999, 3.2644620672785813), (1983, 3.254571910518843), (2001, 3.248183134683057), (1984, 3.2361996612415953), (2000, 3.2241514996797753), (2003, 3.22039242341519), (1996, 3.21265859840267), (2002, 3.203956659932013), (2005, 3.1940257725526537), (1986, 3.192034955543566), (1995, 3.1766111709403693), (1997, 3.16750362335279), (1993, 3.159376715565035), (1998, 3.143960554217188), (1985, 3.1409937511612998), (1990, 3.1089089186206684), (1994, 3.0966962789303203), (1992, 3.0924020904662797), (1988, 3.0607815165942096), (1987, 3.0470631652525846), (1989, 3.0458787265644514), (1991, 3.0305636860845455)])